global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    stats socket /var/lib/haproxy/stats

defaults
    log global
    mode http
    maxconn {{ haproxy_maxconn | default("5000") }}
    option httplog
    option dontlognull
    timeout connect {{ haproxy_timeout_connect | default("5000") }}
    timeout client {{ haproxy_timeout_client | default("5000") }}
    timeout server {{ haproxy_timeout_server | default("5000") }}
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

listen monitor
    bind {{ haproxy_vip | mandatory }}:9300
    mode http
    monitor-uri /status
    stats enable
    stats uri /admin
    stats realm HAProxy\ Statistics
    stats auth {{ haproxy_stats_auth_user | default("admin@sbs") }}:{{ haproxy_stats_auth_pass | default("sbs@jio") }}
    stats refresh {{ haproxy_stats_refresh | default("5s") }}

frontend vip-cinder
    bind {{ haproxy_vip | mandatory }}:{{ haproxy_cinder_api_port | default("81") }}
    default_backend cinder-api

backend cinder-api
    balance roundrobin
    {% for cinder_api_host in cinder_api_hosts %}
    server {{ cinder_api_host.host }} {{ cinder_api_host.ip }}:8776 check inter 1s
    {% endfor %}

frontend vip-galera
    bind {{ haproxy_vip | mandatory }}:{{ haproxy_mysql_port | default("33306") }}
    mode tcp
    option tcplog
    default_backend galera-vms

backend galera-vms
    balance roundrobin
    mode tcp
    option tcplog
    default-server inter 1s
    server {{ mysql_primary_host.host }} {{ mysql_primary_host.ip }}:3306 check
    server {{ mysql_secondary_host.host }} {{ mysql_secondary_host.ip }}:3306 backup check
    server {{ mysql_tertiary_host.host }} {{ mysql_tertiary_host.ip }}:3306 backup check
